@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
}
/*stars*/
html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1041px 6873px #FFF , 384px 1171px #FFF , 2000px 1390px #FFF , 1131px 1362px #FFF , 1306px 63px #FFF , 1040px 1484px #FFF , 563px 1583px #FFF , 487px 62px #FFF , 364px 726px #FFF , 1351px 784px #FFF , 732px 1863px #FFF , 485px 1368px #FFF , 1564px 184px #FFF , 673px 1777px #FFF , 1355px 742px #FFF , 331px 1352px #FFF , 1412px 414px #FFF , 1102px 891px #FFF , 107px 1502px #FFF , 899px 264px #FFF , 616px 1236px #FFF , 1064px 302px #FFF , 1048px 430px #FFF , 18px 26px #FFF , 1719px 1230px #FFF , 1417px 914px #FFF , 1366px 1143px #FFF , 106px 766px #FFF , 521px 523px #FFF , 1936px 1227px #FFF , 969px 1088px #FFF , 236px 1214px #FFF , 1509px 844px #FFF , 1206px 1712px #FFF , 1553px 1028px #FFF , 330px 1351px #FFF , 1592px 138px #FFF , 668px 1348px #FFF , 1564px 480px #FFF , 427px 951px #FFF , 1789px 1259px #FFF , 1974px 35px #FFF , 476px 1735px #FFF , 1956px 123px #FFF , 760px 1198px #FFF , 326px 1761px #FFF , 210px 275px #FFF , 346px 690px #FFF , 45px 131px #FFF , 1015px 1299px #FFF , 1470px 1073px #FFF , 1295px 1390px #FFF , 1483px 1429px #FFF , 27px 1177px #FFF , 817px 99px #FFF , 1520px 1680px #FFF , 1800px 914px #FFF , 955px 541px #FFF , 1228px 1572px #FFF , 161px 1353px #FFF , 834px 239px #FFF , 1400px 493px #FFF , 671px 1482px #FFF , 1290px 1458px #FFF , 1711px 1px #FFF , 1314px 306px #FFF , 749px 455px #FFF , 917px 720px #FFF , 459px 1459px #FFF , 163px 914px #FFF , 613px 236px #FFF , 1829px 901px #FFF , 1302px 1736px #FFF , 753px 674px #FFF , 1405px 514px #FFF , 1519px 65px #FFF , 1065px 979px #FFF , 1645px 1779px #FFF , 214px 1409px #FFF , 810px 1565px #FFF , 711px 461px #FFF , 149px 317px #FFF , 1457px 221px #FFF , 146px 777px #FFF , 308px 1308px #FFF , 1521px 1934px #FFF , 1482px 1926px #FFF , 1206px 1731px #FFF , 1696px 1344px #FFF , 695px 1213px #FFF , 1939px 1016px #FFF , 1753px 1680px #FFF , 428px 1604px #FFF , 1756px 1334px #FFF , 318px 679px #FFF , 1816px 1468px #FFF , 716px 190px #FFF , 555px 1613px #FFF , 1772px 850px #FFF , 1485px 103px #FFF , 250px 1886px #FFF , 533px 504px #FFF , 1054px 565px #FFF , 1040px 1195px #FFF , 1136px 826px #FFF , 705px 1061px #FFF , 1343px 1186px #FFF , 901px 664px #FFF , 445px 1032px #FFF , 58px 916px #FFF , 197px 1985px #FFF , 1134px 202px #FFF , 495px 1115px #FFF , 1492px 458px #FFF , 918px 1482px #FFF , 1680px 1451px #FFF , 1942px 423px #FFF , 903px 1896px #FFF , 1232px 508px #FFF , 1374px 1164px #FFF , 1285px 71px #FFF , 643px 719px #FFF , 1257px 314px #FFF , 1262px 1700px #FFF , 702px 58px #FFF , 1927px 1124px #FFF , 613px 1576px #FFF , 1982px 1310px #FFF , 965px 1761px #FFF , 1991px 1312px #FFF , 1355px 1408px #FFF , 1090px 607px #FFF , 772px 416px #FFF , 1203px 580px #FFF , 450px 1333px #FFF , 1344px 730px #FFF , 797px 653px #FFF , 893px 1323px #FFF , 1494px 1780px #FFF , 755px 610px #FFF , 1298px 440px #FFF , 128px 1263px #FFF , 350px 795px #FFF , 184px 1664px #FFF , 28px 1765px #FFF , 41px 1506px #FFF , 101px 740px #FFF , 18px 489px #FFF , 1624px 1641px #FFF , 1370px 691px #FFF , 1423px 938px #FFF , 1587px 1326px #FFF , 1118px 1994px #FFF , 207px 787px #FFF , 1894px 220px #FFF , 808px 1863px #FFF , 1932px 583px #FFF , 42px 617px #FFF , 731px 925px #FFF , 887px 1528px #FFF , 571px 1259px #FFF , 1083px 1548px #FFF , 261px 1587px #FFF , 667px 808px #FFF , 1278px 134px #FFF , 1959px 1267px #FFF , 1561px 160px #FFF , 1976px 149px #FFF , 574px 10px #FFF , 1639px 1839px #FFF , 871px 969px #FFF , 1477px 74px #FFF , 311px 1638px #FFF , 1986px 1643px #FFF , 1129px 1283px #FFF , 1995px 757px #FFF , 294px 296px #FFF , 1638px 1452px #FFF , 318px 1484px #FFF , 429px 1158px #FFF , 741px 1602px #FFF , 1036px 1930px #FFF , 1407px 866px #FFF , 823px 1451px #FFF , 1955px 834px #FFF , 1800px 1464px #FFF , 937px 1105px #FFF , 56px 1448px #FFF , 160px 306px #FFF , 706px 1412px #FFF , 413px 1055px #FFF , 300px 365px #FFF , 519px 1553px #FFF , 1478px 161px #FFF , 1936px 1726px #FFF , 1065px 582px #FFF , 1777px 1424px #FFF , 1924px 1659px #FFF , 261px 1775px #FFF , 1369px 1594px #FFF , 1320px 1724px #FFF , 1372px 871px #FFF , 1199px 264px #FFF , 502px 1914px #FFF , 1910px 1744px #FFF , 1081px 1497px #FFF , 131px 719px #FFF , 1457px 476px #FFF , 1519px 1325px #FFF , 1197px 847px #FFF , 380px 1862px #FFF , 172px 1099px #FFF , 796px 228px #FFF , 739px 1433px #FFF , 695px 335px #FFF , 509px 283px #FFF , 1540px 665px #FFF , 1256px 1413px #FFF , 1355px 138px #FFF , 1817px 1352px #FFF , 379px 538px #FFF , 396px 1965px #FFF , 1090px 1525px #FFF , 1006px 1795px #FFF , 847px 1601px #FFF , 1855px 995px #FFF , 1074px 728px #FFF , 236px 143px #FFF , 1322px 298px #FFF , 539px 1719px #FFF , 525px 755px #FFF , 1792px 1048px #FFF , 529px 1460px #FFF , 1995px 1156px #FFF , 200px 1795px #FFF , 262px 860px #FFF , 1591px 1095px #FFF , 168px 1295px #FFF , 197px 518px #FFF , 85px 1466px #FFF , 1584px 552px #FFF , 1827px 1593px #FFF , 779px 34px #FFF , 1240px 270px #FFF , 1266px 372px #FFF , 1107px 649px #FFF , 1089px 931px #FFF , 1866px 184px #FFF , 141px 159px #FFF , 544px 171px #FFF , 1545px 1996px #FFF , 75px 1359px #FFF , 1123px 252px #FFF , 1520px 1896px #FFF , 870px 1590px #FFF , 567px 1937px #FFF , 1529px 1034px #FFF , 1910px 1479px #FFF , 1363px 277px #FFF , 1806px 1993px #FFF , 6px 684px #FFF , 1056px 1508px #FFF , 1917px 1039px #FFF , 1030px 1488px #FFF , 127px 41px #FFF , 1326px 71px #FFF , 1144px 21px #FFF , 805px 1193px #FFF , 1564px 1626px #FFF , 569px 147px #FFF , 1554px 182px #FFF , 1782px 1478px #FFF , 456px 1320px #FFF , 1813px 465px #FFF , 665px 1593px #FFF , 86px 1182px #FFF , 292px 761px #FFF , 729px 1877px #FFF , 522px 919px #FFF , 240px 1518px #FFF , 1330px 837px #FFF , 1379px 1168px #FFF , 1148px 1497px #FFF , 694px 1742px #FFF , 1074px 1118px #FFF , 1754px 653px #FFF , 1917px 145px #FFF , 1694px 931px #FFF , 1384px 652px #FFF , 783px 704px #FFF , 748px 1148px #FFF , 118px 628px #FFF , 1294px 614px #FFF , 399px 953px #FFF , 1248px 420px #FFF , 1098px 757px #FFF , 1754px 1881px #FFF , 1072px 1432px #FFF , 1234px 1595px #FFF , 916px 1296px #FFF , 560px 88px #FFF , 458px 1559px #FFF , 574px 1201px #FFF , 865px 1943px #FFF , 821px 1408px #FFF , 945px 1606px #FFF , 1795px 1275px #FFF , 840px 71px #FFF , 1540px 117px #FFF , 419px 1044px #FFF , 978px 732px #FFF , 776px 1295px #FFF , 856px 571px #FFF , 703px 371px #FFF , 1201px 554px #FFF , 1985px 415px #FFF , 724px 840px #FFF , 1384px 1046px #FFF , 1242px 1257px #FFF , 1300px 1159px #FFF , 1306px 1748px #FFF , 162px 624px #FFF , 935px 1961px #FFF , 1836px 146px #FFF , 482px 1881px #FFF , 1030px 388px #FFF , 1222px 689px #FFF , 1115px 203px #FFF , 1060px 1712px #FFF , 1838px 809px #FFF , 1652px 817px #FFF , 1704px 1291px #FFF , 1427px 248px #FFF , 749px 317px #FFF , 230px 1280px #FFF , 546px 350px #FFF , 75px 186px #FFF , 1805px 241px #FFF , 1014px 1069px #FFF , 290px 1626px #FFF , 1249px 271px #FFF , 1998px 383px #FFF , 830px 1664px #FFF , 535px 972px #FFF , 90px 246px #FFF , 1630px 1701px #FFF , 218px 6px #FFF , 1372px 408px #FFF , 816px 156px #FFF , 660px 226px #FFF , 636px 1227px #FFF , 724px 944px #FFF , 1956px 681px #FFF , 246px 1946px #FFF , 1943px 1713px #FFF , 1302px 1370px #FFF , 1112px 75px #FFF , 478px 1344px #FFF , 46px 1140px #FFF , 1156px 333px #FFF , 555px 1096px #FFF , 1661px 1336px #FFF , 1733px 669px #FFF , 117px 301px #FFF , 1756px 1388px #FFF , 1438px 1991px #FFF , 1896px 162px #FFF , 184px 70px #FFF , 1141px 1549px #FFF , 1576px 1944px #FFF , 991px 702px #FFF , 384px 576px #FFF , 624px 66px #FFF , 622px 1213px #FFF , 596px 1799px #FFF , 638px 612px #FFF , 1780px 1175px #FFF , 1339px 640px #FFF , 1191px 288px #FFF , 919px 663px #FFF , 1214px 1215px #FFF , 1437px 1101px #FFF , 1px 117px #FFF , 732px 152px #FFF , 1090px 306px #FFF , 63px 1687px #FFF , 1558px 1920px #FFF , 224px 1388px #FFF , 257px 1924px #FFF , 1206px 525px #FFF , 1028px 824px #FFF , 1544px 1959px #FFF , 556px 208px #FFF , 1534px 439px #FFF , 385px 443px #FFF , 373px 313px #FFF , 660px 1225px #FFF , 519px 922px #FFF , 1714px 1138px #FFF , 423px 1546px #FFF , 226px 920px #FFF , 1532px 1921px #FFF , 1644px 517px #FFF , 14px 1764px #FFF , 1021px 1578px #FFF , 123px 841px #FFF , 735px 1894px #FFF , 1725px 1503px #FFF , 1011px 587px #FFF , 629px 1351px #FFF , 152px 1px #FFF , 1879px 769px #FFF , 291px 670px #FFF , 1592px 543px #FFF , 1241px 1689px #FFF , 1064px 720px #FFF , 461px 248px #FFF , 322px 1027px #FFF , 1911px 1554px #FFF , 532px 988px #FFF , 804px 1853px #FFF , 1524px 1369px #FFF , 645px 1484px #FFF , 822px 601px #FFF , 997px 1069px #FFF , 1609px 135px #FFF , 258px 1887px #FFF , 1484px 1997px #FFF , 204px 1570px #FFF , 507px 1642px #FFF , 1805px 1197px #FFF , 694px 436px #FFF , 566px 1042px #FFF , 34px 1700px #FFF , 920px 689px #FFF , 1338px 1063px #FFF , 93px 364px #FFF , 750px 116px #FFF , 653px 1864px #FFF , 1580px 651px #FFF , 621px 1291px #FFF , 1929px 1962px #FFF , 865px 313px #FFF , 308px 1666px #FFF , 1867px 1125px #FFF , 350px 1819px #FFF , 1268px 248px #FFF , 1375px 654px #FFF , 710px 612px #FFF , 1597px 510px #FFF , 671px 1819px #FFF , 664px 1548px #FFF , 1397px 896px #FFF , 1936px 819px #FFF , 1655px 238px #FFF , 1357px 1911px #FFF , 840px 750px #FFF , 1059px 1157px #FFF , 1943px 461px #FFF , 1128px 818px #FFF , 421px 1975px #FFF , 953px 489px #FFF , 1011px 917px #FFF , 1513px 1345px #FFF , 1295px 823px #FFF , 628px 793px #FFF , 1453px 1756px #FFF , 300px 538px #FFF , 99px 1602px #FFF , 782px 1436px #FFF , 1479px 1626px #FFF , 49px 1484px #FFF , 1859px 638px #FFF , 1987px 574px #FFF , 71px 497px #FFF , 438px 1105px #FFF , 1034px 770px #FFF , 1825px 1256px #FFF , 1017px 1418px #FFF , 1216px 814px #FFF , 1px 689px #FFF , 752px 1471px #FFF , 71px 421px #FFF , 358px 1641px #FFF , 124px 272px #FFF , 1105px 996px #FFF , 905px 1186px #FFF , 1704px 1117px #FFF , 501px 796px #FFF , 168px 46px #FFF , 1426px 551px #FFF , 722px 1400px #FFF , 1914px 1448px #FFF , 1422px 606px #FFF , 354px 374px #FFF , 1210px 1537px #FFF , 789px 1132px #FFF , 1884px 1192px #FFF , 807px 1868px #FFF , 1440px 320px #FFF , 646px 1205px #FFF , 1420px 1610px #FFF , 510px 1159px #FFF , 1349px 208px #FFF , 862px 413px #FFF , 659px 626px #FFF , 961px 1937px #FFF , 1993px 1847px #FFF , 1853px 51px #FFF , 1566px 1092px #FFF , 746px 130px #FFF , 1684px 26px #FFF , 559px 435px #FFF , 1007px 805px #FFF , 459px 1848px #FFF , 551px 1643px #FFF , 1449px 804px #FFF , 1157px 753px #FFF , 1051px 344px #FFF , 1780px 1083px #FFF , 1333px 1855px #FFF , 692px 751px #FFF , 336px 1286px #FFF , 1339px 1300px #FFF , 403px 564px #FFF , 589px 1825px #FFF , 1883px 1525px #FFF , 906px 702px #FFF , 1142px 640px #FFF , 1863px 1042px #FFF , 1773px 728px #FFF , 1257px 1590px #FFF , 985px 1925px #FFF , 609px 45px #FFF , 986px 647px #FFF , 385px 1595px #FFF , 1010px 1725px #FFF , 1983px 1719px #FFF , 1386px 360px #FFF , 1421px 1773px #FFF , 1229px 419px #FFF , 900px 140px #FFF , 1563px 129px #FFF , 413px 764px #FFF , 328px 597px #FFF , 1590px 1295px #FFF , 1081px 1553px #FFF , 617px 1605px #FFF , 1799px 1632px #FFF , 1515px 426px #FFF , 1383px 308px #FFF , 1577px 1871px #FFF , 771px 182px #FFF , 588px 1646px #FFF , 1346px 571px #FFF , 53px 1491px #FFF , 429px 789px #FFF , 584px 606px #FFF , 266px 1972px #FFF , 1879px 828px #FFF , 340px 1847px #FFF , 1421px 1823px #FFF , 1238px 324px #FFF , 276px 128px #FFF , 431px 484px #FFF , 505px 465px #FFF , 1051px 697px #FFF , 1456px 1617px #FFF , 1704px 1099px #FFF , 1761px 283px #FFF , 1712px 800px #FFF , 23px 1033px #FFF , 649px 173px #FFF , 260px 1645px #FFF , 750px 489px #FFF , 1495px 82px #FFF , 1363px 857px #FFF , 434px 1372px #FFF , 801px 444px #FFF , 1514px 1070px #FFF , 604px 1457px #FFF , 1494px 896px #FFF , 1960px 255px #FFF , 1500px 794px #FFF , 1096px 1127px #FFF , 683px 648px #FFF , 323px 1260px #FFF , 1410px 1276px #FFF , 223px 1411px #FFF , 16px 699px #FFF , 318px 116px #FFF , 725px 1083px #FFF , 363px 1259px #FFF , 1606px 434px #FFF , 649px 728px #FFF , 1423px 1449px #FFF , 252px 785px #FFF , 537px 1861px #FFF , 993px 263px #FFF , 1391px 1913px #FFF , 300px 17px #FFF , 1739px 1367px #FFF , 450px 1817px #FFF , 1499px 1060px #FFF , 1308px 666px #FFF , 310px 1129px #FFF , 1023px 949px #FFF , 314px 236px #FFF , 1263px 1608px #FFF , 553px 748px #FFF , 1693px 526px #FFF , 32px 452px #FFF , 1463px 159px #FFF , 363px 767px #FFF , 520px 661px #FFF , 1523px 1265px #FFF , 29px 8px #FFF , 356px 1464px #FFF , 999px 188px #FFF , 793px 824px #FFF , 1088px 1311px #FFF , 1265px 368px #FFF , 1217px 1983px #FFF , 1857px 1011px #FFF , 944px 1075px #FFF , 803px 1078px #FFF , 677px 442px #FFF , 94px 59px #FFF , 380px 182px #FFF , 1605px 531px #FFF , 1749px 1535px #FFF , 893px 360px #FFF , 612px 822px #FFF , 773px 1798px #FFF , 68px 1900px #FFF , 1598px 1107px #FFF , 1574px 623px #FFF , 1288px 1088px #FFF , 712px 1103px #FFF , 1227px 1843px #FFF , 863px 1824px #FFF , 1112px 936px #FFF , 558px 312px #FFF , 653px 1147px #FFF , 852px 1515px #FFF , 1001px 945px #FFF , 477px 1709px #FFF , 59px 1305px #FFF , 84px 1888px #FFF , 1508px 1725px #FFF , 618px 1568px #FFF , 1269px 809px #FFF , 431px 1762px #FFF , 282px 173px #FFF , 918px 395px #FFF , 697px 288px #FFF , 920px 947px #FFF , 1529px 809px #FFF , 39px 885px #FFF , 1111px 487px #FFF , 1252px 1237px #FFF , 589px 942px #FFF , 1320px 1450px #FFF , 218px 1750px #FFF , 1095px 7px #FFF , 107px 193px #FFF , 1126px 81px #FFF , 793px 520px #FFF , 1757px 1222px #FFF , 1672px 1863px #FFF , 967px 533px #FFF , 1800px 1349px #FFF , 1374px 1685px #FFF , 1366px 543px #FFF , 66px 1158px #FFF , 763px 155px #FFF , 844px 1519px #FFF , 1939px 1281px #FFF , 1910px 2000px #FFF , 434px 668px #FFF , 381px 819px #FFF , 889px 1916px #FFF , 1214px 79px #FFF , 597px 1272px #FFF , 1588px 1034px #FFF , 1041px 815px #FFF , 1766px 1610px #FFF , 1129px 556px #FFF , 1802px 876px #FFF , 1591px 1088px #FFF , 1653px 1378px #FFF , 1842px 1848px #FFF , 1926px 1108px #FFF , 1288px 1180px #FFF , 885px 1743px #FFF , 288px 1484px #FFF , 680px 1105px #FFF , 319px 1925px #FFF , 1645px 1331px #FFF , 442px 1949px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1041px 6873px #FFF , 384px 1171px #FFF , 2000px 1390px #FFF , 1131px 1362px #FFF , 1306px 63px #FFF , 1040px 1484px #FFF , 563px 1583px #FFF , 487px 62px #FFF , 364px 726px #FFF , 1351px 784px #FFF , 732px 1863px #FFF , 485px 1368px #FFF , 1564px 184px #FFF , 673px 1777px #FFF , 1355px 742px #FFF , 331px 1352px #FFF , 1412px 414px #FFF , 1102px 891px #FFF , 107px 1502px #FFF , 899px 264px #FFF , 616px 1236px #FFF , 1064px 302px #FFF , 1048px 430px #FFF , 18px 26px #FFF , 1719px 1230px #FFF , 1417px 914px #FFF , 1366px 1143px #FFF , 106px 766px #FFF , 521px 523px #FFF , 1936px 1227px #FFF , 969px 1088px #FFF , 236px 1214px #FFF , 1509px 844px #FFF , 1206px 1712px #FFF , 1553px 1028px #FFF , 330px 1351px #FFF , 1592px 138px #FFF , 668px 1348px #FFF , 1564px 480px #FFF , 427px 951px #FFF , 1789px 1259px #FFF , 1974px 35px #FFF , 476px 1735px #FFF , 1956px 123px #FFF , 760px 1198px #FFF , 326px 1761px #FFF , 210px 275px #FFF , 346px 690px #FFF , 45px 131px #FFF , 1015px 1299px #FFF , 1470px 1073px #FFF , 1295px 1390px #FFF , 1483px 1429px #FFF , 27px 1177px #FFF , 817px 99px #FFF , 1520px 1680px #FFF , 1800px 914px #FFF , 955px 541px #FFF , 1228px 1572px #FFF , 161px 1353px #FFF , 834px 239px #FFF , 1400px 493px #FFF , 671px 1482px #FFF , 1290px 1458px #FFF , 1711px 1px #FFF , 1314px 306px #FFF , 749px 455px #FFF , 917px 720px #FFF , 459px 1459px #FFF , 163px 914px #FFF , 613px 236px #FFF , 1829px 901px #FFF , 1302px 1736px #FFF , 753px 674px #FFF , 1405px 514px #FFF , 1519px 65px #FFF , 1065px 979px #FFF , 1645px 1779px #FFF , 214px 1409px #FFF , 810px 1565px #FFF , 711px 461px #FFF , 149px 317px #FFF , 1457px 221px #FFF , 146px 777px #FFF , 308px 1308px #FFF , 1521px 1934px #FFF , 1482px 1926px #FFF , 1206px 1731px #FFF , 1696px 1344px #FFF , 695px 1213px #FFF , 1939px 1016px #FFF , 1753px 1680px #FFF , 428px 1604px #FFF , 1756px 1334px #FFF , 318px 679px #FFF , 1816px 1468px #FFF , 716px 190px #FFF , 555px 1613px #FFF , 1772px 850px #FFF , 1485px 103px #FFF , 250px 1886px #FFF , 533px 504px #FFF , 1054px 565px #FFF , 1040px 1195px #FFF , 1136px 826px #FFF , 705px 1061px #FFF , 1343px 1186px #FFF , 901px 664px #FFF , 445px 1032px #FFF , 58px 916px #FFF , 197px 1985px #FFF , 1134px 202px #FFF , 495px 1115px #FFF , 1492px 458px #FFF , 918px 1482px #FFF , 1680px 1451px #FFF , 1942px 423px #FFF , 903px 1896px #FFF , 1232px 508px #FFF , 1374px 1164px #FFF , 1285px 71px #FFF , 643px 719px #FFF , 1257px 314px #FFF , 1262px 1700px #FFF , 702px 58px #FFF , 1927px 1124px #FFF , 613px 1576px #FFF , 1982px 1310px #FFF , 965px 1761px #FFF , 1991px 1312px #FFF , 1355px 1408px #FFF , 1090px 607px #FFF , 772px 416px #FFF , 1203px 580px #FFF , 450px 1333px #FFF , 1344px 730px #FFF , 797px 653px #FFF , 893px 1323px #FFF , 1494px 1780px #FFF , 755px 610px #FFF , 1298px 440px #FFF , 128px 1263px #FFF , 350px 795px #FFF , 184px 1664px #FFF , 28px 1765px #FFF , 41px 1506px #FFF , 101px 740px #FFF , 18px 489px #FFF , 1624px 1641px #FFF , 1370px 691px #FFF , 1423px 938px #FFF , 1587px 1326px #FFF , 1118px 1994px #FFF , 207px 787px #FFF , 1894px 220px #FFF , 808px 1863px #FFF , 1932px 583px #FFF , 42px 617px #FFF , 731px 925px #FFF , 887px 1528px #FFF , 571px 1259px #FFF , 1083px 1548px #FFF , 261px 1587px #FFF , 667px 808px #FFF , 1278px 134px #FFF , 1959px 1267px #FFF , 1561px 160px #FFF , 1976px 149px #FFF , 574px 10px #FFF , 1639px 1839px #FFF , 871px 969px #FFF , 1477px 74px #FFF , 311px 1638px #FFF , 1986px 1643px #FFF , 1129px 1283px #FFF , 1995px 757px #FFF , 294px 296px #FFF , 1638px 1452px #FFF , 318px 1484px #FFF , 429px 1158px #FFF , 741px 1602px #FFF , 1036px 1930px #FFF , 1407px 866px #FFF , 823px 1451px #FFF , 1955px 834px #FFF , 1800px 1464px #FFF , 937px 1105px #FFF , 56px 1448px #FFF , 160px 306px #FFF , 706px 1412px #FFF , 413px 1055px #FFF , 300px 365px #FFF , 519px 1553px #FFF , 1478px 161px #FFF , 1936px 1726px #FFF , 1065px 582px #FFF , 1777px 1424px #FFF , 1924px 1659px #FFF , 261px 1775px #FFF , 1369px 1594px #FFF , 1320px 1724px #FFF , 1372px 871px #FFF , 1199px 264px #FFF , 502px 1914px #FFF , 1910px 1744px #FFF , 1081px 1497px #FFF , 131px 719px #FFF , 1457px 476px #FFF , 1519px 1325px #FFF , 1197px 847px #FFF , 380px 1862px #FFF , 172px 1099px #FFF , 796px 228px #FFF , 739px 1433px #FFF , 695px 335px #FFF , 509px 283px #FFF , 1540px 665px #FFF , 1256px 1413px #FFF , 1355px 138px #FFF , 1817px 1352px #FFF , 379px 538px #FFF , 396px 1965px #FFF , 1090px 1525px #FFF , 1006px 1795px #FFF , 847px 1601px #FFF , 1855px 995px #FFF , 1074px 728px #FFF , 236px 143px #FFF , 1322px 298px #FFF , 539px 1719px #FFF , 525px 755px #FFF , 1792px 1048px #FFF , 529px 1460px #FFF , 1995px 1156px #FFF , 200px 1795px #FFF , 262px 860px #FFF , 1591px 1095px #FFF , 168px 1295px #FFF , 197px 518px #FFF , 85px 1466px #FFF , 1584px 552px #FFF , 1827px 1593px #FFF , 779px 34px #FFF , 1240px 270px #FFF , 1266px 372px #FFF , 1107px 649px #FFF , 1089px 931px #FFF , 1866px 184px #FFF , 141px 159px #FFF , 544px 171px #FFF , 1545px 1996px #FFF , 75px 1359px #FFF , 1123px 252px #FFF , 1520px 1896px #FFF , 870px 1590px #FFF , 567px 1937px #FFF , 1529px 1034px #FFF , 1910px 1479px #FFF , 1363px 277px #FFF , 1806px 1993px #FFF , 6px 684px #FFF , 1056px 1508px #FFF , 1917px 1039px #FFF , 1030px 1488px #FFF , 127px 41px #FFF , 1326px 71px #FFF , 1144px 21px #FFF , 805px 1193px #FFF , 1564px 1626px #FFF , 569px 147px #FFF , 1554px 182px #FFF , 1782px 1478px #FFF , 456px 1320px #FFF , 1813px 465px #FFF , 665px 1593px #FFF , 86px 1182px #FFF , 292px 761px #FFF , 729px 1877px #FFF , 522px 919px #FFF , 240px 1518px #FFF , 1330px 837px #FFF , 1379px 1168px #FFF , 1148px 1497px #FFF , 694px 1742px #FFF , 1074px 1118px #FFF , 1754px 653px #FFF , 1917px 145px #FFF , 1694px 931px #FFF , 1384px 652px #FFF , 783px 704px #FFF , 748px 1148px #FFF , 118px 628px #FFF , 1294px 614px #FFF , 399px 953px #FFF , 1248px 420px #FFF , 1098px 757px #FFF , 1754px 1881px #FFF , 1072px 1432px #FFF , 1234px 1595px #FFF , 916px 1296px #FFF , 560px 88px #FFF , 458px 1559px #FFF , 574px 1201px #FFF , 865px 1943px #FFF , 821px 1408px #FFF , 945px 1606px #FFF , 1795px 1275px #FFF , 840px 71px #FFF , 1540px 117px #FFF , 419px 1044px #FFF , 978px 732px #FFF , 776px 1295px #FFF , 856px 571px #FFF , 703px 371px #FFF , 1201px 554px #FFF , 1985px 415px #FFF , 724px 840px #FFF , 1384px 1046px #FFF , 1242px 1257px #FFF , 1300px 1159px #FFF , 1306px 1748px #FFF , 162px 624px #FFF , 935px 1961px #FFF , 1836px 146px #FFF , 482px 1881px #FFF , 1030px 388px #FFF , 1222px 689px #FFF , 1115px 203px #FFF , 1060px 1712px #FFF , 1838px 809px #FFF , 1652px 817px #FFF , 1704px 1291px #FFF , 1427px 248px #FFF , 749px 317px #FFF , 230px 1280px #FFF , 546px 350px #FFF , 75px 186px #FFF , 1805px 241px #FFF , 1014px 1069px #FFF , 290px 1626px #FFF , 1249px 271px #FFF , 1998px 383px #FFF , 830px 1664px #FFF , 535px 972px #FFF , 90px 246px #FFF , 1630px 1701px #FFF , 218px 6px #FFF , 1372px 408px #FFF , 816px 156px #FFF , 660px 226px #FFF , 636px 1227px #FFF , 724px 944px #FFF , 1956px 681px #FFF , 246px 1946px #FFF , 1943px 1713px #FFF , 1302px 1370px #FFF , 1112px 75px #FFF , 478px 1344px #FFF , 46px 1140px #FFF , 1156px 333px #FFF , 555px 1096px #FFF , 1661px 1336px #FFF , 1733px 669px #FFF , 117px 301px #FFF , 1756px 1388px #FFF , 1438px 1991px #FFF , 1896px 162px #FFF , 184px 70px #FFF , 1141px 1549px #FFF , 1576px 1944px #FFF , 991px 702px #FFF , 384px 576px #FFF , 624px 66px #FFF , 622px 1213px #FFF , 596px 1799px #FFF , 638px 612px #FFF , 1780px 1175px #FFF , 1339px 640px #FFF , 1191px 288px #FFF , 919px 663px #FFF , 1214px 1215px #FFF , 1437px 1101px #FFF , 1px 117px #FFF , 732px 152px #FFF , 1090px 306px #FFF , 63px 1687px #FFF , 1558px 1920px #FFF , 224px 1388px #FFF , 257px 1924px #FFF , 1206px 525px #FFF , 1028px 824px #FFF , 1544px 1959px #FFF , 556px 208px #FFF , 1534px 439px #FFF , 385px 443px #FFF , 373px 313px #FFF , 660px 1225px #FFF , 519px 922px #FFF , 1714px 1138px #FFF , 423px 1546px #FFF , 226px 920px #FFF , 1532px 1921px #FFF , 1644px 517px #FFF , 14px 1764px #FFF , 1021px 1578px #FFF , 123px 841px #FFF , 735px 1894px #FFF , 1725px 1503px #FFF , 1011px 587px #FFF , 629px 1351px #FFF , 152px 1px #FFF , 1879px 769px #FFF , 291px 670px #FFF , 1592px 543px #FFF , 1241px 1689px #FFF , 1064px 720px #FFF , 461px 248px #FFF , 322px 1027px #FFF , 1911px 1554px #FFF , 532px 988px #FFF , 804px 1853px #FFF , 1524px 1369px #FFF , 645px 1484px #FFF , 822px 601px #FFF , 997px 1069px #FFF , 1609px 135px #FFF , 258px 1887px #FFF , 1484px 1997px #FFF , 204px 1570px #FFF , 507px 1642px #FFF , 1805px 1197px #FFF , 694px 436px #FFF , 566px 1042px #FFF , 34px 1700px #FFF , 920px 689px #FFF , 1338px 1063px #FFF , 93px 364px #FFF , 750px 116px #FFF , 653px 1864px #FFF , 1580px 651px #FFF , 621px 1291px #FFF , 1929px 1962px #FFF , 865px 313px #FFF , 308px 1666px #FFF , 1867px 1125px #FFF , 350px 1819px #FFF , 1268px 248px #FFF , 1375px 654px #FFF , 710px 612px #FFF , 1597px 510px #FFF , 671px 1819px #FFF , 664px 1548px #FFF , 1397px 896px #FFF , 1936px 819px #FFF , 1655px 238px #FFF , 1357px 1911px #FFF , 840px 750px #FFF , 1059px 1157px #FFF , 1943px 461px #FFF , 1128px 818px #FFF , 421px 1975px #FFF , 953px 489px #FFF , 1011px 917px #FFF , 1513px 1345px #FFF , 1295px 823px #FFF , 628px 793px #FFF , 1453px 1756px #FFF , 300px 538px #FFF , 99px 1602px #FFF , 782px 1436px #FFF , 1479px 1626px #FFF , 49px 1484px #FFF , 1859px 638px #FFF , 1987px 574px #FFF , 71px 497px #FFF , 438px 1105px #FFF , 1034px 770px #FFF , 1825px 1256px #FFF , 1017px 1418px #FFF , 1216px 814px #FFF , 1px 689px #FFF , 752px 1471px #FFF , 71px 421px #FFF , 358px 1641px #FFF , 124px 272px #FFF , 1105px 996px #FFF , 905px 1186px #FFF , 1704px 1117px #FFF , 501px 796px #FFF , 168px 46px #FFF , 1426px 551px #FFF , 722px 1400px #FFF , 1914px 1448px #FFF , 1422px 606px #FFF , 354px 374px #FFF , 1210px 1537px #FFF , 789px 1132px #FFF , 1884px 1192px #FFF , 807px 1868px #FFF , 1440px 320px #FFF , 646px 1205px #FFF , 1420px 1610px #FFF , 510px 1159px #FFF , 1349px 208px #FFF , 862px 413px #FFF , 659px 626px #FFF , 961px 1937px #FFF , 1993px 1847px #FFF , 1853px 51px #FFF , 1566px 1092px #FFF , 746px 130px #FFF , 1684px 26px #FFF , 559px 435px #FFF , 1007px 805px #FFF , 459px 1848px #FFF , 551px 1643px #FFF , 1449px 804px #FFF , 1157px 753px #FFF , 1051px 344px #FFF , 1780px 1083px #FFF , 1333px 1855px #FFF , 692px 751px #FFF , 336px 1286px #FFF , 1339px 1300px #FFF , 403px 564px #FFF , 589px 1825px #FFF , 1883px 1525px #FFF , 906px 702px #FFF , 1142px 640px #FFF , 1863px 1042px #FFF , 1773px 728px #FFF , 1257px 1590px #FFF , 985px 1925px #FFF , 609px 45px #FFF , 986px 647px #FFF , 385px 1595px #FFF , 1010px 1725px #FFF , 1983px 1719px #FFF , 1386px 360px #FFF , 1421px 1773px #FFF , 1229px 419px #FFF , 900px 140px #FFF , 1563px 129px #FFF , 413px 764px #FFF , 328px 597px #FFF , 1590px 1295px #FFF , 1081px 1553px #FFF , 617px 1605px #FFF , 1799px 1632px #FFF , 1515px 426px #FFF , 1383px 308px #FFF , 1577px 1871px #FFF , 771px 182px #FFF , 588px 1646px #FFF , 1346px 571px #FFF , 53px 1491px #FFF , 429px 789px #FFF , 584px 606px #FFF , 266px 1972px #FFF , 1879px 828px #FFF , 340px 1847px #FFF , 1421px 1823px #FFF , 1238px 324px #FFF , 276px 128px #FFF , 431px 484px #FFF , 505px 465px #FFF , 1051px 697px #FFF , 1456px 1617px #FFF , 1704px 1099px #FFF , 1761px 283px #FFF , 1712px 800px #FFF , 23px 1033px #FFF , 649px 173px #FFF , 260px 1645px #FFF , 750px 489px #FFF , 1495px 82px #FFF , 1363px 857px #FFF , 434px 1372px #FFF , 801px 444px #FFF , 1514px 1070px #FFF , 604px 1457px #FFF , 1494px 896px #FFF , 1960px 255px #FFF , 1500px 794px #FFF , 1096px 1127px #FFF , 683px 648px #FFF , 323px 1260px #FFF , 1410px 1276px #FFF , 223px 1411px #FFF , 16px 699px #FFF , 318px 116px #FFF , 725px 1083px #FFF , 363px 1259px #FFF , 1606px 434px #FFF , 649px 728px #FFF , 1423px 1449px #FFF , 252px 785px #FFF , 537px 1861px #FFF , 993px 263px #FFF , 1391px 1913px #FFF , 300px 17px #FFF , 1739px 1367px #FFF , 450px 1817px #FFF , 1499px 1060px #FFF , 1308px 666px #FFF , 310px 1129px #FFF , 1023px 949px #FFF , 314px 236px #FFF , 1263px 1608px #FFF , 553px 748px #FFF , 1693px 526px #FFF , 32px 452px #FFF , 1463px 159px #FFF , 363px 767px #FFF , 520px 661px #FFF , 1523px 1265px #FFF , 29px 8px #FFF , 356px 1464px #FFF , 999px 188px #FFF , 793px 824px #FFF , 1088px 1311px #FFF , 1265px 368px #FFF , 1217px 1983px #FFF , 1857px 1011px #FFF , 944px 1075px #FFF , 803px 1078px #FFF , 677px 442px #FFF , 94px 59px #FFF , 380px 182px #FFF , 1605px 531px #FFF , 1749px 1535px #FFF , 893px 360px #FFF , 612px 822px #FFF , 773px 1798px #FFF , 68px 1900px #FFF , 1598px 1107px #FFF , 1574px 623px #FFF , 1288px 1088px #FFF , 712px 1103px #FFF , 1227px 1843px #FFF , 863px 1824px #FFF , 1112px 936px #FFF , 558px 312px #FFF , 653px 1147px #FFF , 852px 1515px #FFF , 1001px 945px #FFF , 477px 1709px #FFF , 59px 1305px #FFF , 84px 1888px #FFF , 1508px 1725px #FFF , 618px 1568px #FFF , 1269px 809px #FFF , 431px 1762px #FFF , 282px 173px #FFF , 918px 395px #FFF , 697px 288px #FFF , 920px 947px #FFF , 1529px 809px #FFF , 39px 885px #FFF , 1111px 487px #FFF , 1252px 1237px #FFF , 589px 942px #FFF , 1320px 1450px #FFF , 218px 1750px #FFF , 1095px 7px #FFF , 107px 193px #FFF , 1126px 81px #FFF , 793px 520px #FFF , 1757px 1222px #FFF , 1672px 1863px #FFF , 967px 533px #FFF , 1800px 1349px #FFF , 1374px 1685px #FFF , 1366px 543px #FFF , 66px 1158px #FFF , 763px 155px #FFF , 844px 1519px #FFF , 1939px 1281px #FFF , 1910px 2000px #FFF , 434px 668px #FFF , 381px 819px #FFF , 889px 1916px #FFF , 1214px 79px #FFF , 597px 1272px #FFF , 1588px 1034px #FFF , 1041px 815px #FFF , 1766px 1610px #FFF , 1129px 556px #FFF , 1802px 876px #FFF , 1591px 1088px #FFF , 1653px 1378px #FFF , 1842px 1848px #FFF , 1926px 1108px #FFF , 1288px 1180px #FFF , 885px 1743px #FFF , 288px 1484px #FFF , 680px 1105px #FFF , 319px 1925px #FFF , 1645px 1331px #FFF , 442px 1949px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1832px 19503px #FFF , 474px 965px #FFF , 99px 111px #FFF , 1877px 676px #FFF , 1595px 1700px #FFF , 1133px 397px #FFF , 343px 1376px #FFF , 155px 729px #FFF , 390px 571px #FFF , 114px 763px #FFF , 11px 1308px #FFF , 721px 1906px #FFF , 1188px 1443px #FFF , 1160px 1196px #FFF , 1970px 335px #FFF , 882px 961px #FFF , 756px 262px #FFF , 1507px 67px #FFF , 873px 1614px #FFF , 1942px 274px #FFF , 1855px 851px #FFF , 1133px 1967px #FFF , 1469px 427px #FFF , 1976px 455px #FFF , 1846px 208px #FFF , 45px 603px #FFF , 217px 847px #FFF , 81px 747px #FFF , 148px 59px #FFF , 1307px 1499px #FFF , 1665px 632px #FFF , 1669px 1715px #FFF , 1193px 1978px #FFF , 557px 1369px #FFF , 826px 118px #FFF , 101px 1767px #FFF , 60px 1840px #FFF , 1494px 1030px #FFF , 550px 1696px #FFF , 540px 227px #FFF , 452px 293px #FFF , 979px 1882px #FFF , 1636px 18px #FFF , 370px 1601px #FFF , 912px 1011px #FFF , 462px 1450px #FFF , 877px 102px #FFF , 1274px 1969px #FFF , 1381px 1104px #FFF , 974px 1402px #FFF , 1093px 430px #FFF , 1052px 968px #FFF , 1787px 264px #FFF , 475px 482px #FFF , 658px 1171px #FFF , 272px 1308px #FFF , 592px 1151px #FFF , 1707px 1516px #FFF , 935px 294px #FFF , 968px 888px #FFF , 18px 851px #FFF , 448px 1029px #FFF , 22px 1835px #FFF , 195px 218px #FFF , 21px 520px #FFF , 617px 1833px #FFF , 1587px 1023px #FFF , 1336px 483px #FFF , 856px 1508px #FFF , 384px 284px #FFF , 404px 364px #FFF , 1490px 1860px #FFF , 464px 1089px #FFF , 909px 477px #FFF , 1258px 827px #FFF , 1314px 216px #FFF , 1463px 1456px #FFF , 1921px 865px #FFF , 1052px 280px #FFF , 1384px 1184px #FFF , 1524px 208px #FFF , 774px 1046px #FFF , 771px 1477px #FFF , 1337px 540px #FFF , 402px 1024px #FFF , 764px 1309px #FFF , 1199px 1265px #FFF , 574px 1149px #FFF , 1813px 1478px #FFF , 910px 1936px #FFF , 1374px 770px #FFF , 144px 54px #FFF , 1410px 1216px #FFF , 1617px 356px #FFF , 1747px 1290px #FFF , 456px 98px #FFF , 1293px 1220px #FFF , 133px 499px #FFF , 1298px 827px #FFF , 286px 1321px #FFF , 1779px 785px #FFF , 19px 1556px #FFF , 1206px 765px #FFF , 207px 230px #FFF , 1091px 1309px #FFF , 1452px 1180px #FFF , 1186px 1590px #FFF , 1718px 1119px #FFF , 1109px 525px #FFF , 1697px 335px #FFF , 1643px 1831px #FFF , 1870px 685px #FFF , 1401px 933px #FFF , 1370px 481px #FFF , 905px 1076px #FFF , 742px 1401px #FFF , 1052px 1443px #FFF , 830px 1343px #FFF , 224px 215px #FFF , 1137px 592px #FFF , 3px 559px #FFF , 1952px 1946px #FFF , 1994px 303px #FFF , 1193px 3px #FFF , 1862px 1983px #FFF , 1739px 13px #FFF , 592px 1377px #FFF , 763px 526px #FFF , 263px 1528px #FFF , 1818px 64px #FFF , 837px 1409px #FFF , 1395px 1738px #FFF , 56px 1433px #FFF , 518px 658px #FFF , 374px 305px #FFF , 714px 139px #FFF , 1949px 1955px #FFF , 196px 775px #FFF , 1732px 1607px #FFF , 1886px 1571px #FFF , 1462px 1623px #FFF , 22px 815px #FFF , 1137px 1415px #FFF , 516px 570px #FFF , 747px 1306px #FFF , 1939px 1930px #FFF , 1513px 895px #FFF , 1452px 1668px #FFF , 1260px 112px #FFF , 427px 1129px #FFF , 778px 1690px #FFF , 1438px 921px #FFF , 110px 1508px #FFF , 127px 624px #FFF , 50px 918px #FFF , 1661px 484px #FFF , 1728px 225px #FFF , 1728px 1363px #FFF , 1948px 772px #FFF , 1344px 1029px #FFF , 262px 1127px #FFF , 1438px 1001px #FFF , 1813px 1203px #FFF , 1045px 1662px #FFF , 1204px 567px #FFF , 1141px 731px #FFF , 446px 1406px #FFF , 997px 1808px #FFF , 778px 24px #FFF , 1681px 1134px #FFF , 20px 4px #FFF , 1159px 1278px #FFF , 1230px 1819px #FFF , 1871px 1995px #FFF , 868px 1930px #FFF , 882px 600px #FFF , 75px 11px #FFF , 917px 324px #FFF , 1428px 548px #FFF , 513px 1938px #FFF , 1654px 328px #FFF , 623px 1951px #FFF , 526px 401px #FFF , 1641px 653px #FFF , 144px 294px #FFF , 1439px 1726px #FFF , 353px 751px #FFF , 8px 1105px #FFF , 596px 863px #FFF , 1813px 1368px #FFF , 1170px 1620px #FFF , 1438px 1951px #FFF , 1643px 1304px #FFF , 1299px 922px #FFF , 1581px 1951px #FFF , 377px 1462px #FFF , 1605px 276px #FFF , 1783px 655px #FFF , 943px 1108px #FFF , 1596px 1032px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1832px 19503px #FFF , 474px 965px #FFF , 99px 111px #FFF , 1877px 676px #FFF , 1595px 1700px #FFF , 1133px 397px #FFF , 343px 1376px #FFF , 155px 729px #FFF , 390px 571px #FFF , 114px 763px #FFF , 11px 1308px #FFF , 721px 1906px #FFF , 1188px 1443px #FFF , 1160px 1196px #FFF , 1970px 335px #FFF , 882px 961px #FFF , 756px 262px #FFF , 1507px 67px #FFF , 873px 1614px #FFF , 1942px 274px #FFF , 1855px 851px #FFF , 1133px 1967px #FFF , 1469px 427px #FFF , 1976px 455px #FFF , 1846px 208px #FFF , 45px 603px #FFF , 217px 847px #FFF , 81px 747px #FFF , 148px 59px #FFF , 1307px 1499px #FFF , 1665px 632px #FFF , 1669px 1715px #FFF , 1193px 1978px #FFF , 557px 1369px #FFF , 826px 118px #FFF , 101px 1767px #FFF , 60px 1840px #FFF , 1494px 1030px #FFF , 550px 1696px #FFF , 540px 227px #FFF , 452px 293px #FFF , 979px 1882px #FFF , 1636px 18px #FFF , 370px 1601px #FFF , 912px 1011px #FFF , 462px 1450px #FFF , 877px 102px #FFF , 1274px 1969px #FFF , 1381px 1104px #FFF , 974px 1402px #FFF , 1093px 430px #FFF , 1052px 968px #FFF , 1787px 264px #FFF , 475px 482px #FFF , 658px 1171px #FFF , 272px 1308px #FFF , 592px 1151px #FFF , 1707px 1516px #FFF , 935px 294px #FFF , 968px 888px #FFF , 18px 851px #FFF , 448px 1029px #FFF , 22px 1835px #FFF , 195px 218px #FFF , 21px 520px #FFF , 617px 1833px #FFF , 1587px 1023px #FFF , 1336px 483px #FFF , 856px 1508px #FFF , 384px 284px #FFF , 404px 364px #FFF , 1490px 1860px #FFF , 464px 1089px #FFF , 909px 477px #FFF , 1258px 827px #FFF , 1314px 216px #FFF , 1463px 1456px #FFF , 1921px 865px #FFF , 1052px 280px #FFF , 1384px 1184px #FFF , 1524px 208px #FFF , 774px 1046px #FFF , 771px 1477px #FFF , 1337px 540px #FFF , 402px 1024px #FFF , 764px 1309px #FFF , 1199px 1265px #FFF , 574px 1149px #FFF , 1813px 1478px #FFF , 910px 1936px #FFF , 1374px 770px #FFF , 144px 54px #FFF , 1410px 1216px #FFF , 1617px 356px #FFF , 1747px 1290px #FFF , 456px 98px #FFF , 1293px 1220px #FFF , 133px 499px #FFF , 1298px 827px #FFF , 286px 1321px #FFF , 1779px 785px #FFF , 19px 1556px #FFF , 1206px 765px #FFF , 207px 230px #FFF , 1091px 1309px #FFF , 1452px 1180px #FFF , 1186px 1590px #FFF , 1718px 1119px #FFF , 1109px 525px #FFF , 1697px 335px #FFF , 1643px 1831px #FFF , 1870px 685px #FFF , 1401px 933px #FFF , 1370px 481px #FFF , 905px 1076px #FFF , 742px 1401px #FFF , 1052px 1443px #FFF , 830px 1343px #FFF , 224px 215px #FFF , 1137px 592px #FFF , 3px 559px #FFF , 1952px 1946px #FFF , 1994px 303px #FFF , 1193px 3px #FFF , 1862px 1983px #FFF , 1739px 13px #FFF , 592px 1377px #FFF , 763px 526px #FFF , 263px 1528px #FFF , 1818px 64px #FFF , 837px 1409px #FFF , 1395px 1738px #FFF , 56px 1433px #FFF , 518px 658px #FFF , 374px 305px #FFF , 714px 139px #FFF , 1949px 1955px #FFF , 196px 775px #FFF , 1732px 1607px #FFF , 1886px 1571px #FFF , 1462px 1623px #FFF , 22px 815px #FFF , 1137px 1415px #FFF , 516px 570px #FFF , 747px 1306px #FFF , 1939px 1930px #FFF , 1513px 895px #FFF , 1452px 1668px #FFF , 1260px 112px #FFF , 427px 1129px #FFF , 778px 1690px #FFF , 1438px 921px #FFF , 110px 1508px #FFF , 127px 624px #FFF , 50px 918px #FFF , 1661px 484px #FFF , 1728px 225px #FFF , 1728px 1363px #FFF , 1948px 772px #FFF , 1344px 1029px #FFF , 262px 1127px #FFF , 1438px 1001px #FFF , 1813px 1203px #FFF , 1045px 1662px #FFF , 1204px 567px #FFF , 1141px 731px #FFF , 446px 1406px #FFF , 997px 1808px #FFF , 778px 24px #FFF , 1681px 1134px #FFF , 20px 4px #FFF , 1159px 1278px #FFF , 1230px 1819px #FFF , 1871px 1995px #FFF , 868px 1930px #FFF , 882px 600px #FFF , 75px 11px #FFF , 917px 324px #FFF , 1428px 548px #FFF , 513px 1938px #FFF , 1654px 328px #FFF , 623px 1951px #FFF , 526px 401px #FFF , 1641px 653px #FFF , 144px 294px #FFF , 1439px 1726px #FFF , 353px 751px #FFF , 8px 1105px #FFF , 596px 863px #FFF , 1813px 1368px #FFF , 1170px 1620px #FFF , 1438px 1951px #FFF , 1643px 1304px #FFF , 1299px 922px #FFF , 1581px 1951px #FFF , 377px 1462px #FFF , 1605px 276px #FFF , 1783px 655px #FFF , 943px 1108px #FFF , 1596px 1032px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1550px 8619px #FFF , 930px 474px #FFF , 1237px 917px #FFF , 1869px 249px #FFF , 1211px 1705px #FFF , 1597px 1559px #FFF , 128px 1094px #FFF , 778px 504px #FFF , 136px 1062px #FFF , 1913px 1306px #FFF , 1114px 1265px #FFF , 181px 57px #FFF , 448px 1755px #FFF , 567px 574px #FFF , 1496px 1254px #FFF , 917px 681px #FFF , 1468px 1757px #FFF , 1428px 913px #FFF , 1472px 516px #FFF , 318px 1725px #FFF , 734px 1849px #FFF , 282px 701px #FFF , 317px 431px #FFF , 602px 665px #FFF , 80px 1185px #FFF , 668px 1810px #FFF , 1201px 943px #FFF , 1340px 1781px #FFF , 232px 3px #FFF , 896px 1814px #FFF , 1976px 512px #FFF , 1261px 428px #FFF , 878px 715px #FFF , 527px 907px #FFF , 1307px 1099px #FFF , 960px 1202px #FFF , 243px 543px #FFF , 829px 935px #FFF , 1127px 377px #FFF , 762px 1957px #FFF , 775px 1007px #FFF , 1424px 1065px #FFF , 233px 1133px #FFF , 1834px 1076px #FFF , 1967px 696px #FFF , 245px 1436px #FFF , 8px 1228px #FFF , 465px 861px #FFF , 93px 75px #FFF , 166px 342px #FFF , 1648px 1456px #FFF , 1917px 72px #FFF , 719px 889px #FFF , 194px 1832px #FFF , 1341px 224px #FFF , 1824px 1532px #FFF , 1809px 1991px #FFF , 414px 1586px #FFF , 221px 326px #FFF , 406px 1776px #FFF , 920px 535px #FFF , 134px 1351px #FFF , 1929px 968px #FFF , 256px 617px #FFF , 564px 994px #FFF , 194px 1164px #FFF , 1061px 1224px #FFF , 1696px 239px #FFF , 1388px 829px #FFF , 748px 341px #FFF , 739px 1166px #FFF , 532px 762px #FFF , 671px 809px #FFF , 745px 1520px #FFF , 202px 1317px #FFF , 59px 1650px #FFF , 1015px 1961px #FFF , 262px 1058px #FFF , 1005px 75px #FFF , 234px 1098px #FFF , 1449px 475px #FFF , 825px 1576px #FFF , 193px 1400px #FFF , 1200px 2000px #FFF , 1601px 831px #FFF , 1581px 603px #FFF , 1901px 984px #FFF , 1114px 228px #FFF , 1383px 1127px #FFF , 786px 552px #FFF , 935px 454px #FFF , 522px 1634px #FFF , 824px 756px #FFF , 541px 562px #FFF , 647px 1476px #FFF , 1689px 325px #FFF , 1829px 363px #FFF , 321px 216px #FFF , 1775px 299px #FFF , 676px 723px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1550px 8619px #FFF , 930px 474px #FFF , 1237px 917px #FFF , 1869px 249px #FFF , 1211px 1705px #FFF , 1597px 1559px #FFF , 128px 1094px #FFF , 778px 504px #FFF , 136px 1062px #FFF , 1913px 1306px #FFF , 1114px 1265px #FFF , 181px 57px #FFF , 448px 1755px #FFF , 567px 574px #FFF , 1496px 1254px #FFF , 917px 681px #FFF , 1468px 1757px #FFF , 1428px 913px #FFF , 1472px 516px #FFF , 318px 1725px #FFF , 734px 1849px #FFF , 282px 701px #FFF , 317px 431px #FFF , 602px 665px #FFF , 80px 1185px #FFF , 668px 1810px #FFF , 1201px 943px #FFF , 1340px 1781px #FFF , 232px 3px #FFF , 896px 1814px #FFF , 1976px 512px #FFF , 1261px 428px #FFF , 878px 715px #FFF , 527px 907px #FFF , 1307px 1099px #FFF , 960px 1202px #FFF , 243px 543px #FFF , 829px 935px #FFF , 1127px 377px #FFF , 762px 1957px #FFF , 775px 1007px #FFF , 1424px 1065px #FFF , 233px 1133px #FFF , 1834px 1076px #FFF , 1967px 696px #FFF , 245px 1436px #FFF , 8px 1228px #FFF , 465px 861px #FFF , 93px 75px #FFF , 166px 342px #FFF , 1648px 1456px #FFF , 1917px 72px #FFF , 719px 889px #FFF , 194px 1832px #FFF , 1341px 224px #FFF , 1824px 1532px #FFF , 1809px 1991px #FFF , 414px 1586px #FFF , 221px 326px #FFF , 406px 1776px #FFF , 920px 535px #FFF , 134px 1351px #FFF , 1929px 968px #FFF , 256px 617px #FFF , 564px 994px #FFF , 194px 1164px #FFF , 1061px 1224px #FFF , 1696px 239px #FFF , 1388px 829px #FFF , 748px 341px #FFF , 739px 1166px #FFF , 532px 762px #FFF , 671px 809px #FFF , 745px 1520px #FFF , 202px 1317px #FFF , 59px 1650px #FFF , 1015px 1961px #FFF , 262px 1058px #FFF , 1005px 75px #FFF , 234px 1098px #FFF , 1449px 475px #FFF , 825px 1576px #FFF , 193px 1400px #FFF , 1200px 2000px #FFF , 1601px 831px #FFF , 1581px 603px #FFF , 1901px 984px #FFF , 1114px 228px #FFF , 1383px 1127px #FFF , 786px 552px #FFF , 935px 454px #FFF , 522px 1634px #FFF , 824px 756px #FFF , 541px 562px #FFF , 647px 1476px #FFF , 1689px 325px #FFF , 1829px 363px #FFF , 321px 216px #FFF , 1775px 299px #FFF , 676px 723px #FFF;
}


@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

/* fix white bar */
html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
/* fix white bar end */

html {
  font-family: "Montserrat";
}

.utama {
  min-height: 70vh;
  padding-bottom: 160px;
  padding-top: 160px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#MAIN {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://i.ibb.co/4StYWz6/programming-code-made-with-binary-code-coding-hacker-background-digital-binary-data-streaming-digita.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
}

#MAIN h1 {
  color: transparent;
  font-size: 2rem;
  font-weight: 700;

  position: relative;
  display: block;
  width: fit-content;
  animation: animasi_teks 2s ease forwards;
  animation-delay: 2s;
}

#MAIN h1:nth-child(1) {
  animation-delay: 2s;
}
#MAIN h1:nth-child(2) {
  animation-delay: 2.5s;
}
#MAIN h1:nth-child(3) {
  animation: animasi_merah 2s ease forwards;
  animation-delay: 3s;
}

#MAIN .tombol {
  color: white;
  display: inline-block;
  padding: 5px 15px;
  font-size: 1.3rem;
  font-weight: 500;
  border: 1px solid dodgerblue;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-top: 15px;
  transition: 0.5s ease background-color;
}

#MAIN .tombol:hover {
  color: white;
  background-color: dodgerblue;
}

#MAIN h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: transparent;
  animation: animasi_teks_cok 2s ease forwards;
  animation-delay: 1s;
}
#MAIN h1:nth-child(1) span {
  animation-delay: 1s;
}
#MAIN h1:nth-child(2) span {
  animation-delay: 1.5s;
}
#MAIN h1:nth-child(3) span {
  animation-delay: 2s;
}

@keyframes animasi_teks_cok {
  50% {
    width: 100%;
    left: 0;
    background-color: rgb(6, 105, 204);
  }
  100% {
    width: 0;
    left: 100%;
    background-color: rgb(6, 110, 214);
  }
}

@keyframes animasi_teks {
  100% {
    color: white;
  }
}

@keyframes animasi_merah {
  100% {
    color: rgb(30, 165, 255);
  }
}

#atas {
  background-color: rgb(2, 18, 37);
  padding: 12px;
}

#atas .block {
  color: rgb(211, 230, 255);
  position: relative;
  width: 100%;
  text-align: end;
  margin-right: 20px;
}

#atas .tombol2 {
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 5px 13px;
  font-size: 0.6rem;
  border: 1px solid rgb(21, 81, 141);
  border-radius: 10px;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: 0.5s ease background-color;
}

#atas .tombol2:hover {
  color: white;
  background-color: dodgerblue;
}

#atas .tombol3 {
  color: rgb(255, 255, 255);
  margin: auto 13px;
  display: inline-block;
  padding: 5px 13px;
  font-size: 0.6rem;
  border: 1px solid rgb(21, 81, 141);
  border-radius: 10px;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: 0.5s ease background-color;
}

#atas .tombol3:hover {
  color: white;
  background-color: dodgerblue;
}

#atas .tombol4 {
  color: rgb(255, 255, 255);
  text-align: end;
  display: inline-block;
  margin-right: 1.8rem;
  padding: 5px 13px;
  font-size: 0.6rem;
  border: 1px solid rgb(21, 81, 141);
  border-radius: 10px;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: 0.5s ease background-color;
}

#atas .tombol4:hover {
  color: white;
  background-color: dodgerblue;
}

#atas .image-fluid {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  position: absolute;
  left: 8px;
  bottom: 0px;
  display: inline;
  border: 1px solid rgb(37, 76, 116);
}
#atas .image-fluid:hover {
  height: 3.5vw;
  width: 3.5vw;
}

#serpis {
  min-height: 60vh;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  position: relative;
  background-color: rgb(225, 241, 255);
}

#serpis .title {
  padding-top: 15vw;
  padding-bottom: 5vw;
  padding-right: 10vw;
  padding-left: 10vw;
  text-align: center;
  display: block;
}

#serpis .title h1 {
  font-size: 2rem;
  font-weight: 500;
}

#serpis .title h1 span {
  color: dodgerblue;
}

#serpis .title p {
  font-size: 1.2rem;
  font-weight: 300;
}

#serpis .bawah {
  text-align: center;
}

#serpis .bagan1 {
  display: inline-block;
  text-align: center;
  color: rgb(233, 227, 255);
  padding: 10px 0px;
  width: 30%;
  background-image: linear-gradient(rgba(78, 78, 78, 0.5), rgba(95, 144, 236, 0.5)), url(https://i.ibb.co/FJzqPXL/download.jpg);
  background-size: cover;
  background-position: top center;
  transition: 0.5s ease;
}
#serpis .bagan1 h2 {
  font-size: 1.7rem;
}
#serpis .bagan2 h2 {
  font-size: 1.7rem;
}
#serpis .bagan3 h2 {
  font-size: 1.7rem;
}
#serpis .bagan1 p {
  font-size: 1.1rem;
  padding-bottom: 40%;
}
#serpis .bagan2 p {
  font-size: 1.1rem;
  padding-bottom: 40%;
}
#serpis .bagan3 p {
  font-size: 1.1rem;
  padding-bottom: 40%;
}

#serpis .bagan2 {
  display: inline-block;
  text-align: center;
  color: rgb(233, 227, 255);
  padding: 10px 0px;
  width: 30%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(95, 144, 236, 0.5)), url(https://img.freepik.com/premium-vector/multicolored-abstract-background_23-2148463672.jpg?w=2000);
  background-size: cover;
  background-position: top center;
}

#serpis .bagan3 {
  display: inline-block;
  text-align: center;
  color: rgb(233, 227, 255);
  padding: 10px 0px;
  width: 30%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 139, 139, 0.5)), url(https://img.freepik.com/free-vector/flat-japan-background_23-2148978571.jpg?w=2000);
  background-size: cover;
  background-position: top center;
}

#serpis .gelombang {
  padding-top: 100px;
}

/* skill */

#skill {
  background-image: linear-gradient(white 1%, rgb(52, 78, 94) 110%);
  position: relative;
  min-height: 60vh;
  margin: auto;
  width: 100%;
  z-index: -5;
}

#skill .tittle {
  text-align: center;
  text-transform: uppercase;
}

#skill .tittle h1 {
  margin-top: 8%;
  margin-bottom: 1%;
  font-size: 2rem;
}

#skill .tittle span {
  color: rgb(231, 173, 64);
}

#skill .tittle p {
  margin-top: 3%;
  font-size: 1rem;
  display: inline-block;
  width: 45%;
}

#skill .utama {
  display: block;
  text-align: center;
}

#skill .bagan1 {
  display: inline-block;
  background-color: #425550;
  padding: 10px;
  margin-bottom: 30vw;
  width: 30%;
  z-index: 10;
}

#skill .illustrating {
  position: absolute;
  background-color: #2a8566;
  height: 35vw;
  width: 30%;
  margin-left: -1%;
  margin-top: -3.5%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(236, 175, 95, 0.5)), url(https://i.ibb.co/1qdyzSX/81l-H28b-N7-ML.jpg);
  background-size: cover;
  z-index: -1;
}

/*
#skill .illustrating {
  overflow: hidden;
}

#skill .illustrating img {
  height: 35vw;
  position: absolute;
  width: 30%;
  margin-left: -15%;
  margin-top: -3%;
  z-index: -1;
  transition: all linear 0.5s;
}

#skill .illustrating .img2 {
  opacity: 0;
}

#skill .illustrating .img:hover {
  opacity: 0;
}
*/

#skill .bagan2 {
  display: inline-block;
  background-color: #425550;
  padding: 10px;
  margin-bottom: 30vw;
  width: 30%;
}

#skill .coding {
  background-color: #2a8566;
  height: 35vw;
  width: 30%;
  margin-left: 50%;
  margin-top: -35%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(236, 175, 95, 0.5)), url(https://s3-us-east-2.amazonaws.com/maryville/wp-content/uploads/2020/12/16162130/computer-programmer.jpg);
  background-size: cover;
  z-index: -1;
}

#skill .utama2 {
  padding: 4px;
}

#skill .bagan3 {
  display: inline-block;
  background-color: #425550;
  padding: 10px;
  margin-bottom: 30vw;
  width: 30%;
}

#skill .editing {
  background-color: #2a8566;
  height: 35vw;
  position: absolute;
  width: 30%;
  margin-left: 19.6%;
  margin-top: -34%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(236, 175, 95, 0.5)), url(https://i.ibb.co/d4Sv8sW/pancake-feature-636270be049912e5351accf4d53d4f8c-1369b98d5a2a3adbd46f424090fe22dd-600x400.jpg);
  background-size: cover;
  z-index: -1;
}

#skill .bagan4 {
  display: inline-block;
  background-color: #425550;
  padding: 10px;
  margin-bottom: 30vw;
  width: 30%;
}

#skill .animating {
  background-color: #2a8566;
  height: 35vw;
  position: absolute;
  width: 30%;
  margin-left: 49.8%;
  margin-top: -34%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(236, 175, 95, 0.5)), url(https://i.ibb.co/DLr3xQS/23e4e77481aecd8f8bf1d3a763764e05.jpg);
  background-size: cover;
  z-index: -1;
}

#skill .bagan1 h1 {
  color: white;
  font-size: 2.3vmin;
}

#skill .bagan2 h1 {
  color: white;
  font-size: 2.3vmin;
}

#skill .bagan3 h1 {
  color: white;
  font-size: 2.3vmin;
}

#skill .bagan4 h1 {
  color: white;
  font-size: 2.3vmin;
}

/* skill akhir */

/* footer */
.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
/* footer akhir */
